/* ==========================================
        GOOGLE FONT
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ==========================================
        RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#060818;
    color:#fff;
    overflow-x:hidden;
    overflow-y:auto;
    min-height:100vh;
}

/* ==========================================
        BACKGROUND
========================================== */

body::before{
    content:"";
    position:fixed;
    width:450px;
    height:450px;
    border-radius:50%;
    background:#8b5cf6;
    filter:blur(170px);
    left:-120px;
    top:-120px;
    opacity:.35;
    z-index:-1;
}

body::after{
    content:"";
    position:fixed;
    width:450px;
    height:450px;
    border-radius:50%;
    background:#06b6d4;
    filter:blur(170px);
    right:-150px;
    bottom:-150px;
    opacity:.25;
    z-index:-1;
}

/* ==========================================
        SCROLLBAR
========================================== */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#8b5cf6;
    border-radius:20px;
}

/* ==========================================
        CONTAINER
========================================== */

.container{
    width:100%;
    min-height:100vh;
    display:flex;
}

/* ==========================================
        SIDEBAR
========================================== */

.sidebar{
    width:220px;
    
    min-height:100vh;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(25px);
    border-right:1px solid rgba(255,255,255,.08);
    padding:30px;
    flex-shrink:0;
}

.logo{
    text-align:center;
}

.logo img{
    width:95px;
    height:95px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #8b5cf6;
    box-shadow:0 0 25px rgba(139,92,246,.6);
}

.logo h2{
    margin-top:15px;
    letter-spacing:3px;
}

.logo p{
    color:#bdbdbd;
    font-size:14px;
    margin-top:5px;
}

.sidebar ul{
    list-style:none;
    margin-top:45px;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:14px;
    border-radius:15px;
    cursor:pointer;
    transition:.35s;
}

.sidebar ul li i{
    margin-right:12px;
}

.sidebar ul li:hover{
    background:#8b5cf6;
    transform:translateX(6px);
}

.active{
    background:#8b5cf6;
}

/* ==========================================
                MAIN
========================================== */

.main{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:40px 30px;
    overflow-y:auto;
}

/* ==========================================
                HEADING
========================================== */

.heading{
    width:100%;
    text-align:center;
    margin-bottom:20px;
}

.heading h1{
    font-weight:700;
    margin-bottom:10px;
    font-size: large;
}

.heading h2{
   
    color:#d6d6d6;
    font-weight:400;
    line-height:1.6;
    font-size: medium;    
}

.heading span{
    color:#8b5cf6;
    font-weight:700;
}

/* ==========================================
                AI BOX
========================================== */

.ai-box{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:5px;
    margin-bottom:5px;
}

/* ==========================================
                AI CIRCLE
========================================== */

.ai-circle{

    width:170px;
    height:170px;
    border-radius:50%;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#8b5cf6,#5b21b6);

    box-shadow:
        0 0 30px rgba(139,92,246,.8),
        0 0 80px rgba(139,92,246,.35);

    transition:.4s;

}

.ai-circle img{

    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;

}

/* ==========================================
            SPEAKING EFFECT
========================================== */

.ai-circle.speaking{

    animation:speaking 1s infinite ease-in-out;

}

@keyframes speaking{

    0%{

        transform:scale(1);

        box-shadow:
        0 0 30px #8b5cf6,
        0 0 60px rgba(139,92,246,.5);

    }

    50%{

        transform:scale(1.08);

        box-shadow:
        0 0 45px #8b5cf6,
        0 0 100px rgba(139,92,246,.9);

    }

    100%{

        transform:scale(1);

        box-shadow:
        0 0 30px #8b5cf6,
        0 0 60px rgba(139,92,246,.5);

    }

}

/* ==========================================
                STATUS
========================================== */

#status{

    margin-top:22px;

    color:#d5d5d5;

    font-size:20px;

    text-align:center;

}

/* ==========================================
                AI BUBBLE
========================================== */

.ai-bubble{

    width:min(500px,95%);

    min-height:90px;

    margin-top:25px;

    padding:20px 24px;

    border-radius:22px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.12);

    backdrop-filter:blur(20px);

    color:#fff;

    font-size:16px;

    line-height:30px;

    text-align:center;

    word-break:break-word;

    box-shadow:0 0 25px rgba(139,92,246,.35);

    transition:.3s;

}

/* ==========================================
            THINKING DOTS
========================================== */

.typing-dots{

    display:none;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-top:20px;

}

.typing-dots span{

    width:12px;

    height:12px;

    border-radius:50%;

    background:#8b5cf6;

    animation:bounce .6s infinite alternate;

}

.typing-dots span:nth-child(2){

    animation-delay:.2s;

}

.typing-dots span:nth-child(3){

    animation-delay:.4s;

}

@keyframes bounce{

    from{

        transform:translateY(0);

        opacity:.4;

    }

    to{

        transform:translateY(-10px);

        opacity:1;

    }

}
/* ==========================================
            SUGGESTION BUTTONS
========================================== */

.suggestions{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-wrap:wrap;

    gap:15px;

    margin-top:35px;

}

.suggestions button{

    padding:10px 20px;

    border:none;

    outline:none;

    border-radius:40px;

    background:#171d34;

    color:#fff;

    font-size:12px;

    cursor:pointer;

    transition:.3s;

    white-space:nowrap;

}

.suggestions button:hover{

    background:#8b5cf6;

    transform:translateY(-5px);

    box-shadow:0 0 20px rgba(139,92,246,.4);

}

/* ==========================================
                CHAT BOX
========================================== */

.chat-box{

    width:min(650px,100%);

    display:flex;

    align-items:center;

    justify-content:center;

    margin-top:40px;

}

.chat-box input{

    flex:1;

    height:65px;

    border:none;

    outline:none;

    background:#171d34;

    color:#fff;

    padding:0 22px;

    font-size:16px;

    border-radius:40px 0 0 40px;

}

.chat-box input::placeholder{

    color:#9d9d9d;

}

.chat-box button{

    width:75px;

    height:65px;

    border:none;

    cursor:pointer;

    font-size:20px;

    color:#fff;

    transition:.3s;

}

#micBtn{

    background:#06b6d4;

    border-radius:0;

}

#micBtn:hover{

    background:#0891b2;

}

#sendBtn{

    background:#8b5cf6;

    border-radius:0 40px 40px 0;

}

#sendBtn:hover{

    background:#6d28d9;

}

/* ==========================================
                RIGHT PANEL
========================================== */

.right-panel{

    width:250px;

    min-height:100vh;

    padding:25px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(25px);

    border-left:1px solid rgba(255,255,255,.08);

    flex-shrink:0;

}

.card{

    background:#171d34;

    border-radius:20px;

    padding:22px;

    margin-bottom:20px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

    box-shadow:0 0 20px rgba(139,92,246,.3);

}

.card h3{

    color:#8b5cf6;

    margin-bottom:12px;

}

.card h1{

    font-size:28px;

}

.card h2{

    margin-top:10px;

}

.card p{

    color:#cfcfcf;

    margin-top:8px;

    line-height:1.5;

}

.card ul{

    list-style:none;

    margin-top:10px;

}

.card ul li{

    margin:12px 0;

    color:#d8d8d8;

}
/* ==========================================
            RESPONSIVE
========================================== */

/* ---------- Large Laptop ---------- */

@media (max-width:1100px){

.right-panel{

    width:250px;

}

.ai-bubble{

    width:min(150px,90%);

}

.chat-box{

    width:85%;

}

}

/* ---------- Tablet ---------- */

@media (max-width:1100px){

.sidebar{

    width:220px;

}

.right-panel{

    display:none;

}

.main{

    padding:30px 20px;

}

.ai-circle{

    width:170;

    height:170px;

}

.ai-circle img{

    width:165px;

    height:165px;

}

.ai-bubble{

    width:95%;

}

.chat-box{

    width:100%;

}

}

/* ---------- Mobile ---------- */

@media (max-width:768px){

html,
body{

    overflow-x:hidden;

    overflow-y:auto;

}

.container{

    flex-direction:column;

    min-height:100vh;

}

.sidebar{

    display:none;

}

.right-panel{

    display:none;

}

.main{

    width:100%;

    padding:20px 15px 40px;

}

.ai-circle{

    width:170px;

    height:170px;

}

.ai-circle img{

    width:135px;

    height:135px;

}

#status{

    font-size:18px;

}

.ai-bubble{

    width:100%;

    font-size:15px;

    line-height:26px;

    padding:18px;

}

.typing-dots span{

    width:10px;

    height:10px;

}

.suggestions{

    flex-direction:column;

    width:100%;

}

.suggestions button{

    width:100%;

}

.chat-box{

    width:100%;

}

.chat-box input{

    height:55px;

    font-size:15px;

}

.chat-box button{

    width:55px;

    height:55px;

    font-size:18px;

}

}

/* ---------- Small Mobile ---------- */

@media (max-width:480px){

.main{

    padding:15px;

}


.ai-circle{

    width:150px;

    height:150px;

}

.ai-circle img{

    width:120px;

    height:120px;

}

.ai-bubble{

    font-size:14px;

    line-height:24px;

}

.chat-box{

    flex-wrap:nowrap;

}

.chat-box input{

    font-size:14px;

    padding:0 15px;

}

.chat-box button{

    width:50px;

}

}
